body
{
    background: url(../Imagenes/fondo.png);
    background-size:cover;

    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #b4292b60 ;
    box-shadow: 0px 2px 30px 5px #b4292b60 ;
    color: rgb(255, 255, 255);
    font-weight:bold;
    margin:0em;
    padding: 0.5em ;
    -webkit-text-stroke : .1px rgba(5, 7, 6, 0.797);
    text-align: left;
}

#cabecera #logo 
{
    width: 20px; 
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
    h1 
{
    color:#ffffffc5;
    -webkit-text-stroke : .5px rgba(234, 2, 2, 0.341);
    font-size:20px;
    text-align: left;
    margin: center;
    padding: 1em;
}

#container
    p 
    {
        margin: 1em;
    }

#container
    {
        box-shadow: 0px 2px 50px 5px #b4292b60 ; 
        background-color:rgba(28, 2, 2, 0.549);;
        width:70%;
        padding:0em;
        margin:auto;
    }
    
    #post
    {
        background: #fff;
        padding: 1em;
    }

#container #suscribete
{
        color: #b4292c;
        background: #b4292b60;
        text-align: center;
        padding: 0.5em;
        -webkit-text-stroke : .2px rgba(0, 0, 0, 0.797);
}